@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


h1 {
    color: purple;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

h2 {
    color: purple;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}


body {
    background-image: url('https://as2.ftcdn.net/v2/jpg/06/23/24/03/1000_F_623240349_aCmGPKwic0PIumohlr0jgYPzAozuJdE3.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
}

html {
    scroll-behavior: smooth;
}


input, select, button {
    margin: 10px;
    padding: 10px;
}


.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBtn {
    color: purple;
    border-radius: 50px;
}

#searchInput {
    border-radius: 50px;
}





/*NAVIGATION BAR*/


.nav__link {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;  
}

.nav__links {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

.nav__link--anchor {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    color: white;
}

.nav__link--list {
    color: white;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;  
}

.landing-page {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#emailMenu {
    background-color: purple;
    border: 1px solid #ccc;
    display: flex;
     /* Position it relative to the page */
    z-index: 1000; /* Make sure it appears on top */
    border-radius: 50px;
    text-align: right;
    width: 1144px;

}


.email__contact {

}

#email {
    border-radius: 50px;
    
}

.send__btn {
    border-radius: 50px;
    
}




/* FOOTER*/ 

#personal-logo {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__para {
    color: white;
    display: flex;
    justify-content: center;
}

.footer__logo--popper {
    display: flex;
    justify-content: center;
}

.footer__anchor {
    display: flex;
    justify-content: center;
}

.row {

}


.footer__row {

}


.container {
    margin-top: 60vh;
}


.footer {


}






/*media responsiveness */
/*768*/



@media (max-width: 768px) {
    .nav__link {
        flex-direction: column;
        align-items: center;
    }
}

/*480*/

@media (max-width: 480px) {
    h2 {
        font-size: 36px;
        text-align: center;
        margin: 0 auto;
        
    }
}

@media (max-width: 480px) {
    .nav__link {
        flex-direction: column;
        align-items: center;
    }
}


