h1 {
    color: purple;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;  
}

h2 {
    color: purple;
    font-size: 36px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

body {
    background-image: url('https://as2.ftcdn.net/v2/jpg/06/23/24/03/1000_F_623240349_aCmGPKwic0PIumohlr0jgYPzAozuJdE3.jpg'); /* Replace with your image URL */
    background-size: 1500px 1500px; /* This makes sure the image covers the entire background */
    background-position: center; /* This centers the image */
    background-repeat: no-repeat; /* This prevents the image from repeating */
    
    
}

.center-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#searchBtn {
    color: purple;
    border-radius: 50px;
}

.nav-links {
    color: white;
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 18px;
    font-weight: 600;
}

